
<div class="relative py-2 bg-gray-800">
  <div class="mx-auto auto max-w-6xl w-full px-10 sm:px-16">
    <nav class="relative flex flex-wrap flex-row-reverse items-center">
      <div class="flex w-1/2 space-x-10 justify-end items-center">
      <% if (user) {
      %>
        <a href="/account" class="font-medium text-white hover:text-gray-300 transition duration-150 ease-in-out">Account</a>
        <a href="/logout" class="font-medium text-white hover:text-gray-300 transition duration-150 ease-in-out">Log
          Out</a>
      <%
      } else {
      %>
        <a href="/login" class="font-medium text-white hover:text-gray-300 transition duration-150 ease-in-out">Log
          In</a>
        <a href="/pricing"
          class="bg-red-500 text-white font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
          Buy Now
        </a>
        <%
        }
        %>
      </div>
      <div class="flex w-1/2 justify-start items-center">
<!--         <a href="/"
          class="text-xl tracking-wide leading-10 font-extrabold text-white bg-red-500 rounded-lg sm:leading-none p-2 sm:p-4">
          Tailwind<span class="font-light">Sites</span>
        </a> -->
        <a href="/"
          class="text-xl tracking-wide leading-10 font-extrabold text-white border-2 border-red-500 rounded-lg sm:leading-none p-2 sm:p-4">
          Tailwind<span class="font-light">Sites</span>
        </a> 
      </div>
    </nav>
  </div>
</div> 