<div class="relative py-4">
  <div class="mx-auto auto max-w-6xl w-full px-10 sm:px-16">
    <nav class="relative flex items-center">
      <div class="flex w-full space-x-10 justify-start items-end">
        <a href="/"
           class="font-light text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out">Home</a>
      </div>
      <div class="flex w-full space-x-10 justify-end items-end">
        <% if (user) {
      %>
        <a href="/account"
           class="font-light text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out">Account</a>
        <a href="/logout"
           class="font-light text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out">Log
          Out</a>
        <%
      } else {
      %>
        <a href="/login"
           class="font-light text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out">Log
          In</a>
        <a href="/register"
           class="font-light text-gray-700 hover:text-gray-900 transition duration-150 ease-in-out">Sign Up</a>
        </a>
        <%
        }
        %>
      </div>
    </nav>
  </div>
</div>
