<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header class="absolute top-0 w-full">
    <%- include('../partials/header'); %>
  </header>
  <main class="h-screen flex items-center justify-center">
    <div class="lg:relative">
      <div class="mx-auto max-w-6xl w-full text-left px-10 sm:px-16">
        <%- include('../partials/flash'); %>
        <div class="mx-auto flex flex-wrap">
          <div class="text-center justify-center w-full flex items-center">
            <div>
              <h1
                  class="text-2xl leading-snug font-extrabold text-blue-900 sm:text-2xl md:text-4xl lg:text-4xl xl:text-4xl">
                Build something amazing!
              </h1>
              <p class="my-3 text-lg text-gray-700 sm:text-xl md:my-5 leading-8">
                Node, Mongo DB, Mongoose, Tailwind starter project. Take the ball and run...
              </p>
              <div class="flex flex-wrap text-gray-700 font-light text-lg">
                <a class="w-1/2 sm:w-1/5 text-center"
                   target="_blank"
                   href="https://nodejs.dev/">NodeJS</a>
                <a class="w-1/2 sm:w-1/5 text-center"
                   target="_blank"
                   href="https://www.mongodb.com/">MongoDb</a>
                <a class="w-1/2 sm:w-1/5 text-center"
                   target="_blank"
                   href="https://tailwindcss.com/">Tailwind CSS</a>
                <a class="w-1/2 sm:w-1/5 text-center"
                   target="_blank"
                   href="https://github.com/westonwalker/node-mongo-starter">Github</a>
                <a class="w-1/2 sm:w-1/5 text-center"
                   target="_blank"
                   href="https://twitter.com/WesWalker2112">Twitter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer class="">
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
