<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="lg:relative">
            <div class="mx-auto max-w-6xl w-full py-4 lg:py-8 text-left px-10 sm:px-16">
                <%- include('../partials/flash'); %> 
                <div class="bg-indigo-100 border-4 border-indigo-500 text-indigo-700 px-4 py-3 rounded relative mb-8 text-center" role="alert">
                  <span class="block sm:inline text-md font-bold">TailwindSites is half off until we reach 10 site templates!!</span>
                  <span class="absolute top-0 bottom-0 right-0 px-4 py-3" onClick="this.parentElement.remove()">
                    <svg class="fill-current h-6 w-6 border-indigo-500" role="button" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20">
                      <title>Close</title>
                      <path
                        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                    </svg>
                  </span>
                </div>
                <div class="mx-auto flex flex-wrap">
                    <div class="w-full md:w-1/2 flex items-center">
                        <div>
                            <h1
                                class="text-4xl leading-10 font-extrabold text-gray-700 sm:text-4xl sm:leading-none md:text-5xl lg:text-5xl xl:text-5xl">
                                Beatiful Tailwind CSS Site Templates
                            </h1>
                            <p class="my-3 text-xl text-gray-700 sm:text-2xl md:my-5 leading-10">
                                Pay <span class="font-bold text-red-500">once</span> and get <span
                                    class="font-bold text-red-500">unlimited</span> access to all current and future
                                templates for just <span class="line-through">$99</span> <span style="transform: rotate(-4deg)" class="font-bold text-red-500 bg-gray-800 p-1 inline-block">$49</span>.
                            </p>
                            <p class="mt-3 text-md text-gray-600 md:mt-5 leading-10">
                                Follow me to know when I release new stuff!
                                <iframe
                                    src="https://platform.twitter.com/widgets/follow_button.html?screen_name=WesWalker2112&show_screen_name=false&show_count=false&size=l"
                                    title="Follow WesWalker2112" width="auto" height="50"
                                    style="border: 0; overflow: hidden;"></iframe>
                            </p>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 hidden sm:block">
                        <div class="flex flex-wrap">
                            <div
                                class="w-1/2 flex justify-center text-center text-gray-700 border-solid border-r-4 border-b-4 border-gray-700">
                                <div class="px-6 py-2">
                                    <svg class="h-auto w-24 mx-auto" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
                                        <line x1="12" y1="18" x2="12.01" y2="18"></line>
                                    </svg>
                                    <p class="mt-4 text-lg text-gray-700 leading-10 font-normal">Fully Responsive</p>
                                </div>
                            </div>
                            <div
                                class="w-1/2 flex justify-center text-center text-gray-700 border-solid border-b-4 border-gray-700">
                                <div class="px-6 py-2">
                                    <svg class="h-auto w-24 mx-auto" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path
                                            d="M9.59 4.59A2 2 0 1 1 11 8H2m10.59 11.41A2 2 0 1 0 14 16H2m15.73-8.27A2.5 2.5 0 1 1 19.5 12H2">
                                        </path>
                                    </svg>
                                    <p class="mt-4 text-lg text-gray-700 leading-10 font-normal">HTML + Tailwind CSS</p>
                                </div>
                            </div>
                            <div
                                class="w-1/2 flex justify-center text-center text-gray-700 pt-2 border-solid border-r-4 border-gray-700">
                                <div class="px-6 py-2">
                                    <svg class="h-auto w-24 mx-auto" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="12" cy="12" r="3"></circle>
                                        <path
                                            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                                        </path>
                                    </svg>
                                    <p class="mt-4 text-lg text-gray-700 leading-10 font-normal">100% Customizable</p>
                                </div>
                            </div>
                            <div class="w-1/2 flex justify-center text-center text-gray-700 pt-2">
                                <div class="px-6 py-2">
                                    <svg class="h-auto w-24 mx-auto" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                                        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                                    </svg>
                                    <p class="mt-4 text-lg text-gray-700 leading-10 font-normal">Unlimited Sites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto flex flex-wrap py-6 lg:py-10">
                    <a href="/themes/wes-theme" class="h-64 w-full mb-6 lg:mb-10">
                      <div style="background-color: #49FCD4;" class="w-full h-full bg-gray-400 rounded-md">
                      </div>
                    </a>
                    <a href="/themes/fay-theme" class="h-64 w-full mb-6 lg:mb-10">
                      <div style="background-color: #30353B;" class="w-full h-full bg-gray-400 rounded-md">
                      </div>
                    </a>
                    <a href="/themes/ramond-theme" class="h-64 w-full mb-6 lg:mb-10">
                      <div style="background-color: #D99C8A;" class="w-full h-full bg-gray-400 rounded-md">
                      </div>
                    </a>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>
