<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <style>
    .custom-shape-divider-bottom-1604115072 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1604115072 svg {
      position: relative;
      display: block;
      width: calc(119% + 1.3px);
      height: 59px;
  }

  .custom-shape-divider-bottom-1604115072 .shape-fill {
      fill: #FFFFFF;
  }
  </style>
</head>

<body>
  <main>
    <div class="bg-blue-900">
      <div class="py-6 px-4 sm:px-6 lg:px-8 lg:py-12">
        <div class="text-center">
          <a class="" href="/">
            <p
              class="mx-auto w-64 text-xl tracking-wide leading-10 font-extrabold text-red-500 bg-white rounded-lg sm:text-2xl sm:leading-none md:text-3xl lg:text-3xl xl:text-3xl p-2 sm:p-4">
              Tailwind<span class="font-light">Sites</span>
            </p>
          </a>
          <h1
            class="mt-3 sm:mt-5 text-4xl leading-10 font-extrabold text-white sm:text-4xl md:text-5xl lg:text-5xl xl:text-5xl">
            Beatiful Tailwind CSS Site Templates
          </h1>
          <p class="mt-3 max-w-4xl mx-auto text-xl leading-7 text-gray-100 sm:mt-5 sm:text-2xl sm:leading-8">
            Get unlimited access to all future and current tailwind site templates.
          </p>
        </div>
      </div>
      <div class="relative mt-12">
        <div class="custom-shape-divider-bottom-1604115072">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
      </div>
      <div class="pt-12 pb-12 bg-white">
        <div class="relative z-0">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex-wrap flex">
              <div class="w-full md:w-1/2 flex md:pr-4">
                <div class="mx-auto w-full sm:w-auto">
                  <div class="w-full rounded-lg shadow-xl rounded-lg border-2 border-gray-600">
                    <div class="bg-white rounded-t-lg px-6 pt-12 pb-10">
                      <div>
                        <h3 class="text-center text-3xl leading-9 font-semibold text-gray-800" id="tier-growth">
                          Full Access
                        </h3>
                        <div class="mt-4 flex items-center justify-center">
                          <span
                            class="px-3 flex items-start text-6xl leading-none tracking-tight text-gray-800 sm:text-6xl">
                            <span class="mt-2 mr-2 text-4xl font-medium">
                              $
                            </span>
                            <span class="font-extrabold">
                              49
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="border-t-2 border-gray-200 rounded-b-lg pt-10 pb-8 px-6 bg-gray-100 sm:px-10 sm:py-10">
                      <ul>
                        <li class="flex items-start">
                          <div class="flex-shrink-0">
                            <!-- Heroicon name: check -->
                            <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                              viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 13l4 4L19 7" />
                            </svg>
                          </div>
                          <p class="ml-3 text-base leading-6 font-medium text-gray-600">
                            All website templates
                          </p>
                        </li>
                        <li class="mt-4 flex items-start">
                          <div class="flex-shrink-0">
                            <!-- Heroicon name: check -->
                            <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                              viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 13l4 4L19 7" />
                            </svg>
                          </div>
                          <p class="ml-3 text-base leading-6 font-medium text-gray-600">
                            Use on unlimited projects
                          </p>
                        </li>
                        <li class="mt-4 flex items-start">
                          <div class="flex-shrink-0">
                            <!-- Heroicon name: check -->
                            <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                              viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 13l4 4L19 7" />
                            </svg>
                          </div>
                          <p class="ml-3 text-base leading-6 font-medium text-gray-600">
                            Lifetime access
                          </p>
                        </li>
                        <li class="mt-4 flex items-start">
                          <div class="flex-shrink-0">
                            <!-- Heroicon name: check -->
                            <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                              viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 13l4 4L19 7" />
                            </svg>
                          </div>
                          <p class="ml-3 text-base leading-6 font-medium text-gray-600">
                            Free updates
                          </p>
                        </li>
                        <li class="mt-4 flex items-start">
                          <div class="flex-shrink-0">
                            <!-- Heroicon name: check -->
                            <svg class="h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                              viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 13l4 4L19 7" />
                            </svg>
                          </div>
                          <p class="ml-3 text-base leading-6 font-medium text-gray-600">
                            Access to all future templates
                          </p>
                        </li>
                      </ul>
                      <div class="mt-10">
                        <div class="rounded-lg shadow-md">
                          <a href="https://gumroad.com/l/GVaFo"
                            class="block w-full text-center rounded-lg border border-transparent bg-red-500 px-6 py-4 text-xl leading-6 font-medium text-white hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-indigo transition ease-in-out duration-150">
                            Buy Full Access
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-1/2 flex md:pl-4 mt-6 md:mt-0">
                <div class="text-left">
                  <h1
                    class="text-4xl leading-10 font-extrabold text-gray-800 sm:text-4xl md:text-5xl lg:text-5xl xl:text-5xl">
                    FAQ
                  </h1>
                  <p class="mt-3 max-w-4xl mx-auto text-lg leading-7 text-gray-700 sm:mt-5 sm:text-xl sm:leading-8">
                    So I can use the templates as many times as I want forever?
                  </p>
                  <p class="max-w-4xl mx-auto text-md text-gray-600 sm:text-md">
                    Yup!
                  </p>
                  <p class="mt-3 max-w-4xl mx-auto text-lg leading-7 text-gray-700 sm:mt-5 sm:text-xl sm:leading-8">
                    What version of Tailwind CSS is used?
                  </p>
                  <p class="max-w-4xl mx-auto text-md text-gray-600 sm:text-md">
                    All templates are constantly updated to work on the current stable Tailwind CSS release unless
                    breaking changes prevent us from updating a particular template.
                  </p>
                  <p class="mt-3 max-w-4xl mx-auto text-lg leading-7 text-gray-700 sm:mt-5 sm:text-xl sm:leading-8">
                    Is any JavaScript used in the templates
                  </p>
                  <p class="max-w-4xl mx-auto text-md text-gray-600 sm:text-md">
                    Templates utilize a mixture of vanilla JS and Alpine JS.
                  </p>
                  <p class="mt-3 max-w-4xl mx-auto text-lg leading-7 text-gray-700 sm:mt-5 sm:text-xl sm:leading-8">
                    Can I use the templates on client sites or commercial products?
                  </p>
                  <p class="max-w-4xl mx-auto text-md text-gray-600 sm:text-md">
                    Yes! You can use Tailwind Sites templates on anything besides derivative products.
                  </p>
                  <p class="mt-3 max-w-4xl mx-auto text-lg leading-7 text-gray-700 sm:mt-5 sm:text-xl sm:leading-8">
                    What can't I use the templates for?
                  </p>
                  <p class="max-w-4xl mx-auto text-md text-gray-600 sm:text-md">
                    You cannot use Tailwind Sites templates to create a derivative product... AKA Creating a template or
                    theme kit.
                  </p>
                  <p class="mt-3 max-w-4xl mx-auto text-lg leading-7 text-gray-700 sm:mt-5 sm:text-xl sm:leading-8">
                    Will there be more templates added in the future?
                  </p>
                  <p class="max-w-4xl mx-auto text-md text-gray-600 sm:text-md">
                    Yes, we plan to make as many templates as we can until we can't stand making them anymore :)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>
